html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  color: #121212;
}
textarea,
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}
button {
  color: #3992ff;
  font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

#sidebar {
  width: 22rem;
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
  display: flex;
  flex-direction: column;
}

#sidebar > * {
  padding-left: 2rem;
  padding-right: 2rem;
}

#sidebar > div h1 {
  font-size: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem 2rem;
  order: 1;
  line-height: 1;
}

#sidebar > div h1::before {
  margin-right: 0.5rem;
  position: relative;
  top: 1px;
}

.imgpets {
  width: 35px;
}

#sidebar > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e3e3e3;
}

#sidebar > div form {
  position: relative;
}

#search-spinner {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 1s infinite linear;
  position: absolute;
  left: 0.625rem;
  top: 0.75rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sidebar nav {
  flex: 1;
  overflow: auto;
  padding-top: 1rem;
}

#sidebar nav a span {
  float: right;
  color: #eeb004;
}
#sidebar nav a.active span {
  color: inherit;
}

i {
  color: #818181;
}
#sidebar nav .active i {
  color: inherit;
}

#sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar li {
  margin: 1.25rem 0;
}

#sidebar nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;

  white-space: pre;
  padding: 0.5rem;
  border-radius: 8px;
  color: inherit;
  text-decoration: none;
  gap: 1rem;
}

#sidebar nav a:hover {
  background: #e3e3e3;
}

#sidebar nav a.active {
  background: hsl(224, 98%, 58%);
  color: white;
}

#sidebar nav a.pending {
  color: hsl(224, 98%, 58%);
}

#detail {
  flex: 1;
  padding: 2rem 4rem;
  width: 100%;
}

#detail.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}


#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list3b {
  padding:0;
  list-style: none;
  counter-reset: li;
}    
.list3b li {
  position: relative;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  border-left: 4px solid #DDDDDD;
  padding:16px 20px 16px 28px;
  margin:12px 0 12px 80px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.list3b li:before {
  line-height: 32px;
  position: absolute;
  top: 10px;
  left:-80px;
  width:80px;
  text-align:center;
  font-size: 24px;
  font-weight: bold;
  color: #DDDDDD;
  box-sizing: border-box;        
}
.list3b li:after {
  position: absolute;
  top: 26px;
  left: -40px;
  width: 60px;
  height: 60px;
  border: 8px solid #3399FF;
  border-radius: 50%;
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.1);
  transform: translateX(-50%) translateY(-50%) scale(0.1);
  pointer-events: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;        
}

.container {
  background: #e4e1e1;
  width: 100%;
  height: 100%;
  display: flex;
}

.petDescription {
  margin-left: 10px;
  width: 70%;
}

.petName {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.petInformation {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  background: #f7f4f4;
  border-radius: 13px;
}

.petImg {
  width: 12rem;
  height: 12rem;
  background: #c8c8c8;
  margin: 10px;
  border-radius: 1.5rem;
  object-fit: cover;
}

.changeButton {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

#petAvatar {
  display: flex;
  flex-direction: column;
}

.petsContainer {
  display: flex;
  flex-direction: column;
}

.removeButton {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  background-color: white;
  line-height: 1.5;
  margin: 0;
}

.healthPets{
  height: 69%;
  border-radius: 13px;
  background: #f7f4f4;
  margin: 10px;
}

.healthPets h2 {
  margin: 10px;
}

.healthPets p {
  margin: 10px;
}

.App {
  padding: 1rem;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin: 10px;
  background: #f7f4f4;
  border-radius: 13px;
}

.input-wrapper {
  margin: 3.5rem;
}

.todos-wrapper {
  margin-bottom: 2.5rem;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5px;
}

.add-button {
  color: #44c0b6;
  border-left: none;
  margin-left: 20px;
}

.delete-button {
  color: #fe6a6a;
  margin-left: 5px;
}

.lastVaccination {
  font-size: 20px;
}

.empty {
  font-size: 20px;
  font-weight: 400;
  color: #cf972e;
  letter-spacing: 0.2rem;
}

.submitButton {
  width: 300px;
}

.liPets {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 9px;
  margin-top: 3px;
}

.goBackButton {
  width: 100%;
}

.linkBack {
  text-decoration: none;
}

.linkBack:active:hover {
  text-decoration: none;
}

.petsInfoItem {
  display: flex;
  justify-content: space-between;
  height: 45px;
}

.formEdit {
  padding-top: 18px;
}
.formEditDescription {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
}

.imgVaccination {
  margin-left: 5px;
  margin-bottom: 5px;
}

.todoLi {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 9px;
  margin-top: 3px;
  width: 300px;
  height: 36px;
  padding: 7px;
}